
$static-url: '' !default;

//== Typography
$font-family-sans-serif:  "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;

$font-family-base:        $font-family-serif !default;
$headings-font-family:    $font-family-sans-serif !default;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

//-- Iconography
$icon-font-path: "#{$static-url}/fonts/" !default;

// CSS3 webkit flexbox
@mixin flexible($flex: 1, $orient: vertical, $defaultSize: 1px) {
    @if ($orient == vertical) {
        height: $defaultSize;
    } @else {
        width: $defaultSize;
    }
    -webkit-box-flex: $flex;   /* OLD - iOS 6-, Safari 3.1-6 */
       -moz-box-flex: $flex;   /* OLD - Firefox 19- */
            -ms-flex: $flex;   /* IE 10 */
        -webkit-flex: $flex;   /* Chrome */
                flex: $flex;   /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin flex-box($orient: vertical, $direction: normal, $pack: center, $align: center) {
    
    /*
     * Flexbox
     */
    display:  -webkit-box;     /* OLD - iOS 6-, Safari 3.1-6 */
    display:     -moz-box;     /* OLD - Firefox 19- (buggy but mostly works) */
    //display:  -ms-flexbox;     /* TWEENER - IE 10 */
    //display: -webkit-flex;     /* NEW - Chrome */
    //display:         flex;     /* NEW, Spec - Opera 12.1, Firefox 20+ */
    
    /*
     * Orient and direction
     */
    -webkit-box-orient: $orient;
       -moz-box-orient: $orient;
    -webkit-box-direction: $direction;
       -moz-box-direction: $direction;
    
    /*
    @if ($orient == vertical) {
        @if ($direction == normal) {
                -ms-flex-direction: column;
            -webkit-flex-direction: column;
                    flex-direction: column;
        } @else {
                -ms-flex-direction: column-reverse;
            -webkit-flex-direction: column-reverse;
                    flex-direction: column-reverse;
        }
    } @else {
        @if ($direction == normal) {
                -ms-flex-direction: row;
            -webkit-flex-direction: row;
                    flex-direction: row;
        } @else {
                -ms-flex-direction: row-reverse;
            -webkit-flex-direction: row-reverse;
                    flex-direction: row-reverse;
        }
    }
    */
    
    /*
     * Pack / Justify
     */
           -webkit-box-pack: $pack;
              -moz-box-pack: $pack;
    //          -ms-flex-pack: $pack;
    //-webkit-justify-content: $pack;
    //        justify-content: $pack;
    
    /*
     * Content align
     */
        -webkit-box-align: $align;
           -moz-box-align: $align;
    //   -ms-flex-line-pack: $align;
    //       -ms-flex-align: $align;
    //-webkit-align-content: $align;
    //        align-content: $align;
    
    > .flexible {
        @include flexible(1, $orient, 1px);
    }
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} { @content; }
       @-moz-keyframes #{$name} { @content; }
         @-o-keyframes #{$name} { @content; }
            @keyframes #{$name} { @content; }
}

@mixin keyframes-transform($name, $from, $to) {
    @-webkit-keyframes #{$name} { from { -webkit-transform: $from; transform: $from; } to { -webkit-transform: $to; transform: $to; } }
       @-moz-keyframes #{$name} { from {    -moz-transform: $from; transform: $from; } to {    -moz-transform: $to; transform: $to; } }
         @-o-keyframes #{$name} { from {      -o-transform: $from; transform: $from; } to {      -o-transform: $to; transform: $to; } }
            @keyframes #{$name} { from {                           transform: $from; } to {                         transform: $to; } }
}

@mixin scrollable($scrollbarWidth: 0) {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        @if ($scrollbarWidth == 0) {
            display: none;
        } @else {
            width: $scrollbarWidth;
        }
    }
}

@mixin transform($transform) {
  -webkit-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}
