

//== Typography
$font-family-sans-serif:  "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;

$font-family-base:        $font-family-sans-serif !default;
$headings-font-family:    $font-family-sans-serif !default;

//-- Iconography
$icon-font-path: "../fonts/" !default;
