
// Core variables and mixins
@import "custom";
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Animations
@import "animate";

//********************************************//

.animated {
    //@include animation-timing-function(ease-out);
}

body {
    color: #fff;
}

.em {
    font-size: 32px;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-loading {
    background-color: rgba(255, 255, 255, .9);
    background-size: 32px 32px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.img-circle {
    border-radius: 50%;
}

.fullscreen {
    position: fixed;
    z-index: 9999;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
}

.views-wrapper {
    width: 100%;
    overflow: hidden;
}

.view {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    padding: 0;
}

.layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    &.bottom {
        top: auto;
        bottom: 0;
        height: auto;
    }
    &.img {
        background-position: top;
    }
    &.action.img {
        background-size: contain;
        height: 50px;
    }
    &.light {
        @include animation-delay(.5s);
        @include animation-duration(3s);
        @include animation-timing-function(ease-in-out);
        >.img {
            background-size: contain;
            margin: 0 auto;
            width: 300px;
            padding-top: 170px;
        }
    }
    &.text > .animated {
        //@include animation-duration(2s);
    }
    p, h1, h2, h3, h4, h5, h6 {
        margin: 5px 0;
    }
}

.scene1, .scene2 {
    @include transition(all .35s ease-in-out);
}

#view-hero {
    .layer.text, .layer.light {
        padding-top: 120px;
    }
    .layer.action.img {
        bottom: 50px;
    }
}

#view-party {
    .layer.text {
        padding: 20% 10%;
    }
    .layer.img {
        width: 200%;
        margin-left: -50%;
    }
}

#view-escalier {
    .scene1 {
        .zoomout {
            @include transition-transform(1s ease-in-out);
            @include scale(10, 10);
            @include transform-origin(50% 0);
        }
        .layer.text {
            padding-bottom: 90px;
        }
        .layer.action.img {
            top: 30%;
        }
    }
    .scene2 {
        .layer.text {
            padding: 80px 15% 0;
        }
        .layer.light {
            padding-top: 70px;
        }
        .layer.light > .img {
            margin-left: -60px;
        }
    }
}

#view-movie {
    .scene1 {
        .layer.text {
            padding: 90px 20% 0;
        }
        .layer.light {
            padding-top: 40px;
        }
        .layer.action.img {
            top: 200px;
        }
    }
    .scene2 {
        .layer.text {
            padding: 60px 10% 0;
        }
        .layer.light {
            padding-top: 50px;
        }
    }
}

#view-food {
    .layer.text {
        padding: 100px 15% 0;
    }
    .layer.light {
        padding-top: 50px;
    }
}

#view-perform {
    .layer.text {
        padding: 80px 15% 0;
    }
    .layer.light {
        padding-top: 30px;
    }
}

#view-firework {
    .scene1, .scene2 {
        @include transition(all 1s ease-in-out);
    }
    .scene1 {
        .layer.text {
            padding: 50px 10% 0;
        }
        .layer.action.img {
            width: 50px;
            right: 10%;
            top: 10%;
            left: auto;
        }
    }
    .scene2 {
        .layer.text {
            padding: 50px 10% 0;
        }
    }
}

#view-contact {
    .layer.img {
        background-position: center;
    }
}
