
@include keyframes(qr-ball-anim) {
     0% { @include transform(translate3d(0,0,0)); }
    25% { @include transform(translate3d(221px,0,0)); }
    50% { @include transform(translate3d(221px,221px,0)); }
    75% { @include transform(translate3d(0,221px,0)); }
}

#view-contact {
    .follow {
        position: absolute;
        bottom: 65%;
        left: 0;
        right: 0;
    }
    .qr {
        display: block;
        width: 180px;
        height: 180px;
    }
    .qr-wrapper {
        position: absolute;
        top: 40%;
        left: 50%;
        padding: 20px;
        border: 1px solid $cyan-halo;
        margin-left: -111px;
        border-radius: 5px;
        box-shadow: 0 0 1px $cyan-halo, inset 0 0 1px $cyan-halo;
    }
    .ball {
        position: absolute;
        width: 12px;
        height: 12px;
        top: -6px;
        left: -6px;
        border-radius: 50%;
        background-color: $cyan-halo;
        box-shadow: 0 0 1px $cyan-halo;
        @include animation(qr-ball-anim 4s linear infinite);
    }
    .qr-wrapper, .follow { opacity: 0; }
    &.active {
        .qr-wrapper, .follow {
            opacity: 1;
            @include transition(opacity 1s ease-in-out 1.3s);
        }
        .intro {
            opacity: 0;
            @include transition(opacity .5s ease-in-out 1s);
        }
        path {
            stroke-dashoffset: 1064px;
            @include transition(stroke-dashoffset 1s linear);
        }
        .earth {
            opacity: 0;
            @include transition(opacity .3s ease-in-out);
            &:nth-child(1) { @include transition-delay(0.4s); }
            &:nth-child(2) { @include transition-delay(0.3s); }
            &:nth-child(3) { @include transition-delay(0.2s); }
        }
    }
    .intro {
        margin: 30% 15%;
    }
    .earth {
        display: inline-block;
        margin: 5px;
        width: 30px;
        height: 30px;
        @include animation(rotate 1s linear infinite);
    }
    .svg-wrapper {
        width: 100%;
        svg {
            width: 100%;
        }
    }
}
