
@include keyframes(car-anim) {
      0% { background-position: top; }
     50% { background-position: bottom; }
}

#view-start {
    article {
        margin: 30% 10%;
        strong {
            display: inline-block;
            font-weight: normal;
            padding: 0 0.2em;
            font-size: 1.5em;
            @include transform(translate3d(0,0,0) scale(0.7));
            @include transform-origin(50% 100%);
        }
    }
    &.active {
        article strong, .circles-wrapper {
            @include transform(translate3d(0,0,0) scale(1));
            @include transition(transform 1s ease-in-out);
        }
    }
    .circles-wrapper {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 50%;
        left: 50%;
        margin-left: -50px;
        //margin-top: -50px;
        @include transform(translate3d(0,100%,0) scale(0));
    }
    .circle {
        @include position(absolute, 0 0 0 0);
        @include animation-name(rotate);
        @include animation-timing-function(linear);
        @include animation-iteration-count(infinite);
    }
    .circle:nth-child(1) { @include animation-duration(2.0s); }
    .circle:nth-child(2) { @include animation-duration(2.0s); @include animation-direction(reverse); }
    .circle:nth-child(3) { @include animation-name(none); }
    .circles-wrapper:active .circle:nth-child(3) {
        opacity: 0.5;
    }
    .horizon {
        @include position(absolute, auto 0 0 0);
        padding-bottom: 25%;
        background-position: bottom;
    }
    .car {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 300px;
        height: 120px;
        @include transform-origin(100% 100%);
        &.gone {
            @include transform(translate3d(-150%,-60%,0));
            @include transition(transform .35s linear);
            .car-inner {
                @include transform(scale(0.4));
                @include transition(transform .35s linear);
            }
        }
    }
    .car-inner {
        @include position(absolute, 0 0 0 0);
        background-size: 300px 240px;
        @include animation(car-anim .3s step-end infinite);
        @include transform(scale(0.8));
        @include transform-origin(100% 100%);
    }
}
